body{
    margin: 0;
    padding: 0;
}
.google-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.google-logo img{
    width: 27px;
    height: 92px;
    margin-bottom: 20px;
}
.search-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.search-input{
    width: 500;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}
.search-button{
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #4285f4;
    color: #fff;
    cursor: pointer;
}
.search-button:hover{
    background-color: #357ae8;
}
.button-container button{
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
    cursor: pointer;
}
@media(max-width:600px){
    .search-input{
        width: 80%;
    }
}